@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #118745;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

select {
  display: block;
  border: solid 1px;
  border-radius: 4px;
  border-color: #ccc;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
  min-width: 30%;
}

input {
  display: block;
  border: solid #ccc 1px;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}

.ProseMirror {
  &:focus {
    outline: none;
  }
  height: 100%;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--bac));
}